In [12]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.rand(2,2),['a1','a2'])

           0         1
a1  0.356571  0.549362
a2  0.088839  0.802198

In [16]:
df[df[0] > 0.1]

           0         1
a1  0.356571  0.549362

In [17]:

df.where(df[0] > 0.1)

           0         1
a1  0.356571  0.549362
a2       NaN       NaN

In [18]:
None==None

True

In [20]:
np.nan==np.nan

False